.products {
  background-color: #8e8d8d;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 30px 45px;
  /* Add padding to create space on the left and right */
}